<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Me Ajax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>

    <button id="ajaxButton">Cat Me!</button>
    <p id="result"></p>
    <img id="catImage" src="" alt="Cat Image">

</body>

</html>